.LoginAct {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    background: #fff;
    flex-wrap: wrap;
}

.LoginAct-form {
    width: 45%;
    background: #fff;
    display: grid;
    place-items: center;
    position: relative;
}

.condi {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}

.term {
    display: flex;
    justify-content: center;
}

.span {
    font-size: 14px;
    cursor: pointer;
}

.span:nth-child(2) {
    margin-left: 20px;
}

.copy {
    font-size: 14px;
    cursor: pointer;
}

.form-act {
    text-align: center;
}

.form-top {
    width: 100%;
}

.form-head {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Nunito Sans';
}

.form-cap {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}

.input-fild {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0px 13px;
}

.input-icon {
    padding-top: 5px;
}

.input-control {
    width: 335px;
    position: relative;
}

.show-pwd {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #fff;
    cursor: pointer;
}

.data-input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #848687;
}

.data-input::placeholder {
    color: #939596;
}

.loginBtn {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #1334B3;
    font-size: 16px;
    height: 40px;
    margin-top: 14px;
    line-height: 22px;
    border-radius: 8px;
    cursor: pointer;
}

.forget-pwd-link {
    text-align: center;
    margin-top: 24px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    color: #686687;
}


/* slider  */
.from_info {
    width: 55%;
    background: #1334B3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slid-show {
    width: 100%;
    position: relative;
    height: 50%;
    width: 70%;
}

.slid-show-one,
.slid-show-two {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 12px 48px rgba(3, 0, 55, 0.15);
    border-radius: 20px;
    background: #fff;
}

.slid-show-one {
    transform: perspective(1500px) rotateY(30deg);
}

.slid-show-two {
    transform: perspective(1500px) rotateY(-30deg);
    /* background: red; */
    opacity: 0.05;
}

.slid-text {
    width: 80%;
    padding-top: 70px;
}

.from-slide-header {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.005em;
    color: #fff;
    text-align: center;
}

.from-slide-about {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #fff;
    text-align: center;
}

/* Modal */
.Modal {
    width: 100%;
    height: 100vh;
    background: rgba(3, 0, 55, 0.15);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.massege-box {
    width: 450px;
    /* height: 200px; */
    border-radius: 10px;
    background: #f6f3f3;
    box-shadow: 0px 12px 48px rgba(3, 0, 55, 0.15);
    transition: all 0.3s linear;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.success-mgs {
    height: 40px;
    text-align: center;
    margin-top: 20px;
    color: #1334B3;
    font-size: 20px;
}

.token-mgs {
    height: 40px;
    text-align: center;
    color: #686687;
}

.token-mgs span {
    color: #1334B3;
}

.token-btn {
    padding: 8px 30px;
    background: #0d6efd;
    color: #fff;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

.token-btn:active {
    outline: #9ac2fe 4px solid;
}

.ok-btn {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 10px auto;
}

.log_button {
    display: flex;
    justify-content: center;
}

.ok-btn button {
    padding: 8px 40px;
}

@media (max-width:1024px) {
    .slid-show {
        width: 80%;
        height: 40%;
    }

    .from-slide-header {
        font-size: 30px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .from-slide-about {
        font-size: 15px;
    }
}

@media (max-width:926px) {

    .from_info {
        display: none;
    }

    .LoginAct-form {
        width: 100%;
        height: 100vh;
    }
}

@media (max-width:425px) {

    .from_info {
        display: none;
    }

    .LoginAct-form {
        width: 100%;
        height: 100vh;
    }

    .input-control {
        width: 300px;
    }
}