fieldset {
    margin-inline-start: 0px;
    margin-inline-end: 2px;
    padding-block-start: 0.34em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    padding: 20px;
}

legend {
    position: absolute;
    top: -22px;
}

legend span {
    background: #fff;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #939596;
}